<div id="<%= dom_id subscription %>">
  <p>
    <strong>Name:</strong>
    <%= subscription.name %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= subscription.cost %>
  </p>

  <p>
    <strong>Billing period:</strong>
    <%= subscription.billing_period %>
  </p>

</div>
